
Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/db.lock
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-shm
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-wal
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CoreCompileInputs.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbprojAssemblyReference.cache
Gaming Art/Gaming Art/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe.config
Gaming Art/Gaming Art/bin/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/bin/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming Art.exe
Gaming Art/Gaming Art/obj/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.FileListAbsolute.txt
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.GenerateResource.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.frmArt.resources
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.Resources.resources
Gaming Art/Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/Gaming Art/.vs/ProjectSettings.json
Gaming Art/Gaming Art/.vs/slnx.sqlite
Gaming Art/Gaming Art/.vs/VSWorkspaceState.json
Gaming Art/Gaming Art/App.config
Gaming Art/Gaming Art/bin/Debug/Art.mdb
Gaming Art/Gaming Art/bin/Debug/System.Drawing.dll
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CopyComplete
Gaming Art/Gaming Art/obj/Debug/TempPE/ArtDataSet.Designer.vb.dll
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/.suo
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/db.lock
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide-shm
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide-wal
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.exe
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.exe.config
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.pdb
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.xml
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.exe
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.pdb
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.CoreCompileInputs.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.FileListAbsolute.txt
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.GenerateResource.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbprojAssemblyReference.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.xml
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique_Car_Competition_Database.frmCar.resources
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique_Car_Competition_Database.Resources.resources
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/TempPE/CarDataSet.Designer.vb.dll
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Car.mdb
Online Degrees/.vs/Online Degrees/v16/.suo
Online Degrees/.vs/Online Degrees/v16/Server/sqlite3/db.lock
Online Degrees/.vs/Online Degrees/v16/Server/sqlite3/storage.ide
Online Degrees/.vs/Online Degrees/v16/Server/sqlite3/storage.ide-shm
Online Degrees/.vs/Online Degrees/v16/Server/sqlite3/storage.ide-wal
Online Degrees/Online Degrees/bin/Debug/Online Degrees.exe
Online Degrees/Online Degrees/bin/Debug/Online Degrees.exe.config
Online Degrees/Online Degrees/bin/Debug/Online Degrees.pdb
Online Degrees/Online Degrees/bin/Debug/Online Degrees.xml
Online Degrees/Online Degrees/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Online Degrees/Online Degrees/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Online Degrees/Online Degrees/obj/Debug/Online Degrees.exe
Online Degrees/Online Degrees/obj/Debug/Online Degrees.pdb
Online Degrees/Online Degrees/obj/Debug/Online Degrees.vbproj.CoreCompileInputs.cache
Online Degrees/Online Degrees/obj/Debug/Online Degrees.vbproj.GenerateResource.cache
Online Degrees/Online Degrees/obj/Debug/Online Degrees.vbproj.FileListAbsolute.txt
Online Degrees/Online Degrees/obj/Debug/Online Degrees.vbprojAssemblyReference.cache
Online Degrees/Online Degrees/obj/Debug/Online Degrees.xml
Online Degrees/Online Degrees/obj/Debug/Online_Degrees.frmDegrees.resources
Online Degrees/Online Degrees/obj/Debug/Online_Degrees.Resources.resources
Online Degrees/Online Degrees/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Youth League Soccer Team Database/.vs/Youth League Soccer Team Database/v16/.suo
Youth League Soccer Team Database/.vs/Youth League Soccer Team Database/v16/Server/sqlite3/db.lock
Youth League Soccer Team Database/.vs/Youth League Soccer Team Database/v16/Server/sqlite3/storage.ide
Youth League Soccer Team Database/.vs/Youth League Soccer Team Database/v16/Server/sqlite3/storage.ide-shm
Youth League Soccer Team Database/.vs/Youth League Soccer Team Database/v16/Server/sqlite3/storage.ide-wal
Youth League Soccer Team Database/Youth League Soccer Team Database/bin/Debug/Youth League Soccer Team Database.exe
Youth League Soccer Team Database/Youth League Soccer Team Database/bin/Debug/Youth League Soccer Team Database.exe.config
Youth League Soccer Team Database/Youth League Soccer Team Database/bin/Debug/Youth League Soccer Team Database.pdb
Youth League Soccer Team Database/Youth League Soccer Team Database/bin/Debug/Youth League Soccer Team Database.xml
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.exe
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.pdb
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.vbproj.FileListAbsolute.txt
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.vbproj.GenerateResource.cache
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.vbprojAssemblyReference.cache
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth League Soccer Team Database.xml
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth_League_Soccer_Team_Database.frmYouth.resources
Youth League Soccer Team Database/Youth League Soccer Team Database/obj/Debug/Youth_League_Soccer_Team_Database.Resources.resources
