
Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/db.lock
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-shm
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-wal
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CoreCompileInputs.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbprojAssemblyReference.cache
Gaming Art/Gaming Art/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe.config
Gaming Art/Gaming Art/bin/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/bin/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming Art.exe
Gaming Art/Gaming Art/obj/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.FileListAbsolute.txt
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.GenerateResource.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.frmArt.resources
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.Resources.resources
Gaming Art/Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/Gaming Art/.vs/ProjectSettings.json
Gaming Art/Gaming Art/.vs/slnx.sqlite
Gaming Art/Gaming Art/.vs/VSWorkspaceState.json
Gaming Art/Gaming Art/App.config
Gaming Art/Gaming Art/bin/Debug/Art.mdb
Gaming Art/Gaming Art/bin/Debug/System.Drawing.dll
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CopyComplete
Gaming Art/Gaming Art/obj/Debug/TempPE/ArtDataSet.Designer.vb.dll
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/.suo
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/db.lock
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide-shm
Antique Car Competition Database/.vs/Antique Car Competition Database/v16/Server/sqlite3/storage.ide-wal
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.exe
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.exe.config
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.pdb
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Antique Car Competition Database.xml
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.exe
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.pdb
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.CoreCompileInputs.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.FileListAbsolute.txt
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbproj.GenerateResource.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.vbprojAssemblyReference.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique Car Competition Database.xml
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique_Car_Competition_Database.frmCar.resources
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/Antique_Car_Competition_Database.Resources.resources
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Antique Car Competition Database/Antique Car Competition Database/obj/Debug/TempPE/CarDataSet.Designer.vb.dll
Antique Car Competition Database/Antique Car Competition Database/bin/Debug/Car.mdb
