
Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/db.lock
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-shm
Gaming Art/.vs/Gaming Art/v16/Server/sqlite3/storage.ide-wal
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Gaming Art/Gaming Art/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CoreCompileInputs.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbprojAssemblyReference.cache
Gaming Art/Gaming Art/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe
Gaming Art/Gaming Art/bin/Debug/Gaming Art.exe.config
Gaming Art/Gaming Art/bin/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/bin/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming Art.exe
Gaming Art/Gaming Art/obj/Debug/Gaming Art.pdb
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.FileListAbsolute.txt
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.GenerateResource.cache
Gaming Art/Gaming Art/obj/Debug/Gaming Art.xml
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.frmArt.resources
Gaming Art/Gaming Art/obj/Debug/Gaming_Art.Resources.resources
Gaming Art/Gaming Art/.vs/Gaming Art/v16/.suo
Gaming Art/Gaming Art/.vs/ProjectSettings.json
Gaming Art/Gaming Art/.vs/slnx.sqlite
Gaming Art/Gaming Art/.vs/VSWorkspaceState.json
Gaming Art/Gaming Art/App.config
Gaming Art/Gaming Art/bin/Debug/Art.mdb
Gaming Art/Gaming Art/bin/Debug/System.Drawing.dll
Gaming Art/Gaming Art/obj/Debug/Gaming Art.vbproj.CopyComplete
Gaming Art/Gaming Art/obj/Debug/TempPE/ArtDataSet.Designer.vb.dll
